@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top left, rgba(98, 0, 234, 0.18), transparent 30%),
    radial-gradient(circle at bottom right, rgba(168, 85, 247, 0.18), transparent 30%),
    #07070A;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #6d28d9;
  border-radius: 999px;
}

.glass {
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.08);
}